*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #f5cea6;
    
}

.logo{
    text-align: center;
}

.logo_img{
    border-radius: 500px; 
    border: 3px solid green;
    width: 150px;
    height: 150px;
        
}

.header_text{
    text-align: center;
}

.header_text:hover{
color:#006680;
transition:1s;

}

.wrap ul li {
   list-style: decimal; 
   font-weight:bold;
   color: maroon; 

}

.wrap{
    padding-bottom: 50px;
}


